{{#if resume.certificates.length}}
<div class="container certificates-container">
    {{> title value="Certificates"}}

    {{#each resume.certificates}}
    <section class="item">

        
        <div class="certificate-container">
            {{#if url}}
                <h4 class="info-text">
                    <a href="{{url}}" target="_blank">
                        <i class="fa fa-external-link-square"></i>
                        {{name}}
                        {{!-- <i class="fa fa-external-link" aria-hidden="true"></i> --}}
                    </a>
                </h4>
            {{else}}
                <h4 class="info-text">{{{text}}}</h4>
            {{/if}}
        </div>

        {{#if date}}
            <h5 class="italic pull-right">
                {{formatDate date}}
            </h5>
        {{/if}}

        {{#if issuer}}
        <h5 class="issuer">{{issuer}}</h5>
        {{/if}}

    </section>
    {{/each}}
</div>
{{/if}}