{{#if resume.skills.length}}
    <div class="skills-container">
        {{#each resume.skills}}
            <section class="container">
                {{#if name}}
                    {{> title value=name}}
                {{/if}}
                {{#if level.length}}
                    {{#if level.1.level}}
                        {{#each level}}
                            <h4 class="bold capitalize">{{level}}</h4>
                            <div class="minimal flex-container">
                                {{#each keywords}}
                                    <h6 class="skill">{{.}}</h6>
                                {{/each}}
                            </div>
                        {{/each}}
                    {{else}}
                        {{#if level}}
                            <h4 class="bold capitalize">{{level}}</h4>
                        {{/if}}
                        {{#if keywords.length}}
                            <div class="minimal flex-container">
                                {{#each keywords}}
                                    {{#if (eq . "Transformers")}}
                                        <h6 class="skill"><a href="https://huggingface.co/transformers/" target="_blank">&#129303; {{.}}</a></h6>
                                    {{else}}
                                        <h6 class="skill">{{.}}</h6>
                                    {{/if}}
                                {{/each}}
                            </div>
                        {{/if}}
                    {{/if}}
                {{/if}}    
            </section>
        {{/each}}
    </div>
{{/if}}
